<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/tipoparametro">Tipo Parametro</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Parametro</li>
    </ol>
</nav>

<div class="card text-center m-5 mx-auto" style="max-width: 50rem;">
    {{#each tipoparametro}}
    <div class="card-header text-center">
        Tipo Parametro <br>
        <small>{{this.usuarionombremodifica}} • Modifico {{this.tipoparfechamod}} </small>
    </div>
    
    <div class="card-body">
        
        <h5 class="card-title">{{this.tipoparcodigo}}</h5>

        <div class="text-left">
            <p class="card-text"><strong>Codigo de Parametro:</strong> {{this.tipoparcodigo}}</p>
            <p class="card-text"><strong>Usuario:</strong> {{this.usuarionombre}}</p>
            <p class="card-text"><strong>Descripcion:</strong> {{this.tipodescripcion}}</p>

            <hr class="bg-black">
        </div>
        <a href="/tipoparametro" class="btn btn-primary">Tipo Parametros</a>
    </div>
    <div class="card-footer text-muted">
        <small>{{this.usuarionombre}} • Creo {{this.tipoparfechacrea}}</small>
    </div>
    {{/each}}

</div>