<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/codreferencia">Codigos de Referencia</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ver Codigo</li>
    </ol>
</nav>
{{#each codreferencia}}
<div class="card text-center m-5 mx-auto" style="max-width: 50rem;">
    <div class="card-header">
        Codigo de Refencia <br>
        <small>{{this.usuarionombremod}} • Modifico {{this.codreffechamod}} </small>
    </div>
    
    <div class="card-body">

        <h5 class="card-title">{{this.codrefcodigo}}</h5>

        <div class="text-left">
            <p class="card-text"><strong>Codigo de Parametro:</strong> {{this.codrefcodigo}}</p>
            <p class="card-text"><strong>Usuario:</strong> {{this.usuarionombre}}</p>
            <p class="card-text"><strong>Descripcion:</strong> {{this.codrefdescripcion}}</p>
            <p class="card-text"><strong>Explicacion:</strong> {{this.codrefexplicacion}}</p>

            <hr class="bg-black">
        </div>
        <a href="/codreferencia" class="btn btn-primary">Codigos de Referencia</a>
    </div>
    <div class="card-footer text-muted">
        <small>{{this.usuarionombre}} • Creo {{this.codreffechacrea}}</small>
    </div>
</div>
{{/each}}