<div class="card text-center m-5 mx-auto" style="max-width: 50rem;">
    <div class="card-header">
        Tipo Parametro
    </div>

    <div class="card-body">

        {{#if message}}
        <div class="alert alert-danger mx-auto alert-dismissible fade show" role="alert" style="max-width: 30rem;">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}

        <div class="col-6">
            <div class="form-floating mb-3">

                <input type="text" class="form-control" id="floatingInput" value="{{this.tipoparcodigo}}"
                    placeholder="First Name" name="tipoparcodigo">
                <label for="first_name">Tipo Codigo</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating mb-3">
                <textarea class="form-control" id="floatingInput" placeholder="Comments" name="tipodescripcion"
                    style="height: 200px;">{{this.tipodescripcion}}</textarea>
                <label for="tipodescripcion">Tipo Descripcion</label>
            </div>
        </div>

        <div class="col-12 d-grid">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
    <div class="card-footer text-muted">
        Creado: {{this.tipoparfechacrea}}
    </div>
</div>

{{!-- {{#if message}} <small class="text-danger">{{message}}</small> {{/if}} --}}