<script>
  const myModal = document.getElementById('myModal')
  const myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', () => {
    myInput.focus()
  })

  const Handlebars = require('express-handlebars');
  var hbs = Handlebars.create({
    // Specify helpers which are only registered on this instance.
    helpers: {
      ifCond: function(v1, v2, options) {
            if(v1 === v2) {
              return options.fn(this);
            }
            return options.inverse(this);
          },
    }
  });

</script>

<div class="col">
  <div class="d-flex justify-content-between">
    <h1 class="display-6">Periodos Contables</h1>
    {{#if success}}
    <div class="alert alert-success mx-auto alert-dismissible fade show text-center" role="alert">
      {{success}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
    {{#if message}}
    <div class="alert alert-danger mx-auto alert-dismissible fade show text-center" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
    <a href="/periodoscontables/mas" type="button" class="btn btn-primary align-self-center">Agregar Periodo
      Contable</a>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col">Periodo ID</th>
      <th scope="col">Año Contable</th>
      <th scope="col">Periodo Contable</th>
      <th scope="col">Fecha Inicial</th>
      <th scope="col">Fecha Final</th>
      <th scope="col">Estatus</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {{#each periodocontable}}
    <tr>
      <th scope="row">{{this.perconid}}</th>
      <td>{{this.perconanio}}</td>
      <td>{{this.perconperiodo}}</td>
      <td>{{this.perconfechainicial}}</td>
      <td>{{this.perconfechafinal}}</td>
      <td>{{this.perconestatus}}</td>
      <td class="text-center">
        <a href="/periodoscontables/ver/{{this.perconid}}" type="buton" class="btn btn-outline-info btn-small"><i
            class="bi bi-eye"></i>Ver</a>
        <a href="/periodoscontables/modificar/{{this.perconid}}" type="buton"
          class="btn btn-outline-primary btn-small"><i class="bi bi-pencil"></i>Modificar</a>
        <a href="/periodoscontables/eliminar/{{this.perconid}}" type="buton" class="btn btn-outline-danger btn-small"
          data-bs-toggle="modal" data-bs-target="#staticBackdrop{{this.perconid}}" data-target={{this.perconid}}><i
            class="bi bi-person-x"></i>Eliminar</a>
        <a href="/periodoscontables/mayorizar/{{this.perconid}}" type="buton"
          class="btn btn-outline-primary btn-small"><i class="bi bi-pencil"></i>Mayorizar</a>
        <a href="/periodoscontables/desmayorizar/{{this.perconid}}" type="buton"
          class="btn btn-outline-primary btn-small"><i class="bi bi-pencil"></i>Desmayorizar</a>
        <a href="/periodoscontables/habilitar/{{this.perconid}}" type="buton"
          class="btn btn-outline-dark btn-small"><i class="bi bi-pencil"></i>Habilitar</a>
        <a href="/periodoscontables/cerrar/{{this.perconid}}" type="buton" class="btn btn-outline-primary btn-small"><i
            class="bi bi-pencil"></i>Cerrar</a>
      </td>

      {{!-- {{#ifCond this.perconestatus 1}}N/A{{else}}Deshabilitar{{/ifCond}} --}}

      {{!-- New --}}
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop{{this.perconid}}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" value={{this.perconid}}>
        <div class="modal-dialog text-center">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title w-100" id="staticBackdropLabel">Eliminar
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
              Confirme eliminacion del Codigo de Referencia
              <hr>
              <p class="card-text"><strong>Codigo de Referencia ID:</strong> {{this.perconid}}</p>
              <p class="card-text"><strong>Año Contable:</strong> {{this.perconanio}}</p>
              <p class="card-text"><strong>Periodo Contable:</strong> {{this.perconperiodo}}</p>
              <p class="card-text"><strong>Fecha Inicial:</strong> {{this.perconfechainicial}}</p>
              <p class="card-text"><strong>Fecha Final:</strong> {{this.perconfechafinal}}</p>
              <p class="card-text"><strong>Usuario:</strong> {{this.usuarionombre}}</p>
              <p class="card-text"><strong>Estatus:</strong> {{this.perconestatus}}</p>
            </div>
            <div class="modal-footer d-flex justify-content-between">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <a type="button" class="btn btn-outline-danger yes"
                href="/periodoscontables/eliminar/{{this.perconid}}">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
      {{!-- New --}}
    </tr>
    {{/each}}

  </tbody>
</table>

{{!-- {{#if message}}
<div class="alert alert-danger mx-auto alert-dismissible fade show text-center" role="alert" style="max-width: 40rem;">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if success}}
<div class="alert alert-success mx-auto alert-dismissible fade show text-center" role="alert" style="max-width: 40rem;">
  {{success}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}} --}}

<div class="row">
  <div class="col-6 d-flex justify-content-end">
    <a href="/periodoscontables/mas" type="button" class="btn btn-primary align-self-center">Agregar Periodo
      Contable</a>
  </div>
</div>